@import "tailwindcss";
@font-face {
  font-family: "Nico Moji";
  src: url("./assets/fonts/NicoMoji-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format(truetype);
}
